/* Below Medium */
@media (min-width: 767.98px) {
  .form-group > label {
    font-size: 1.24rem;
  }

  label{
      font-size: 1.14rem;
  }
}

/* Above Medium */
@media (max-width: 767.98px) {
    .col-lg-4{
        margin-left: .5rem;
    }
  }